<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!-- validator, conversionService, messageConverter를 자동으로 등록 -->
	<mvc:annotation-driven>
		<mvc:message-converters>
		<!-- html(text) message converter -->
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/html; charset=UTF-8</value>
					</list>
				</property>
			</bean>
			
			<!-- XML message converter -->
			<!-- 
				1. Mashalling
					: 데이터(Object)를 xml로 만든는 것
				2. Unmashalling
					: xml 데이터를 특정 데이터 형태(Object)로 만드는 것
				3. 하는 방법
					1)OXM(Object XML Mapping)
						: XML 데이터와 객체를 매핑
						: MarshallingHttpMessageConverter
					2)JAXB(Java Architecture for XML Binding)
						: OXM를 쉽게 도와주는 Tool
						: 마살링/언마살링을 Annotation기반으로 한다.
						: JAXBAnnotation(@XmlElementRoot)를 사용해서 직관적 매핑
						: Jaxb2RootElementHttpMessageConverter
			 -->
			<bean class="org.springframework.http.converter.xml.Jaxb2RootElementHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/json; charset=UTF-8</value>
					</list>
				</property>
			</bean>	
			
			<!-- JSON message converter -->
			<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/json; charset=UTF-8</value>
					</list>
				</property>
			</bean>			
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- 서블릿 컨테이너(tomcat)의 DefaultServlet 위임(Delegate) Handler -->
	<mvc:default-servlet-handler/>
	
	<!-- ViewResolver -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<context:annotation-config />
	<context:component-scan base-package="com.douzone.ch08.controller" />
</beans>